[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=8.1"

[dev-packages]
autopep8 = "~=2.0"
flake8 = "~=6.0"
flake8-import-order = "~=0.18"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
lint = "flake8 src"
format = "autopep8 --in-place --aggressive --aggressive --recursive src"
